<!-- Tala om att det är html-dokument -->
<!DOCTYPE html>

<!-- Alla element ska finnas inom html-taggen -->
<html>
<!-- I head placeras saker som inte är innehåll, tex css-filer och javascript -->
<head>
    <!-- Dessa 3 meta-taggar måste vara först i head för att alla tecken (åäö) och Bootstrap ska fungera korrekt -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Koppla in Bootstrap css -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Koppla in egen CSS-fil style.css OBS! Ha den som sista css-fil -->
    <link rel="stylesheet" type ="text/css" href="css/style.css">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
    
    <!-- Koppla in och JQuery Bootstrap javascript -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/funktion.js"></script>




    <!-- Koppla in egen JavaScript-fil funktion.js OBS! Ha den som sista js-fil -->

    <!-- I title skriver du titeln som webbläsarfönstret ska ha när den här sidan besöks-->
    <title>Games</title>
</head>

<!-- I body finns allt innehåll på hemsidan -->
<body ng-app="app">

 <nav class="nav navbar-inverse navbar-static-top">
            <div class="container">
                <a class="navbar-brand" href="index.html">Startsida</a>
                <ul class="nav navbar-nav">
                    <li><a href="menyval1.html">Spel</a></li>
                    <li><a href="menyval2.html">Grattis spel</a></li>
                    <li><a href="menyval3.html">Minispel</a></li>
                </ul>
            </div>
        </nav>

<ul>

<center><a href="http://store.steampowered.com/?l=swedish"><h3>Steam är något där du laddar ner och <br> på steam kan du köpa spel, och ännu mer.</h3></a></center> <center><img src="bilder/steam.jpg" width="25%"></center>


<center>


<a href="https://minecraft.net/sv-se/"><h3><li>Minecraft</li></h3></a> <center><img src="bilder/minecraft-hero-og.c5517b7973e1.jpg" width="15%"></center>

<p>Minecraft är som värkligheten fast blokigt allt är gjort av blocks. <br> Ett kul spel som är svårt att tröttna på</p>

<br>

<a href="http://store.steampowered.com/app/730/CounterStrike_Global_Offensive/"><h3><li>CS GO</li></h3></a> <center><img src="bilder/store_image_02.png" width="15%"></center>

    <center><p>CS GO är ett FPS spel som man jobbar som ett lag 5v5. <br> Det finns olika gamemods men den vanligaste är att teroisterna ska planta en bomb och anti teroisterna ska defusa. <br> Man kan också få skivar vilket är värld rikigda perngar eller pistoler kan man också få.</p></center>

<br>

<a href="http://cdon.se/spel/x-plane_11-39700481?gclid=EAIaIQobChMI9IWe7Ma11QIVUsayCh2ldQcPEAYYASABEgJ3nvD_BwE&gclsrc=aw.ds&dclid=CPTk8e3GtdUCFR2Osgod6u8BwA#fo_c=1753&fo_k=325bf159acb8a78e89c4b2c0a129a569&fo_s=gplase"><h3><li>X-Plane 11</li>
</h3></a>  <center><img src="bilder/header.jpg" width="15%"></center>

<center><p>X-Plane 11 är ett simulator spel som man flyger plan funt i värden, <br> vissa säger att det är de bästa flyg simulator i värden. <br> Det går bara köpa det här som skiva.</p>

</center>

<br>

<a href="https://kerbalspaceprogram.com/en/"><h3><li>KSP</li></h3></a> <center><img src="bilder/
conqueringSpace_bannerWeb.jpg" width="15%"></center>

<p>KSP är ett spel där du leker runt i rumden. <br> Man kan bygga rumfarkostern och plan och hitta nya planeter. <br> Jag rekomenderar spelet till de som vill bli astronater.</p>

<br>

<a href="http://store.steampowered.com/app/569480/Kingdoms_and_Castles/"><h3><li>Kingdoms and Castles</li></h3></a> <img src="bilder/maxresdefault.jpg" width="15%">

<p>Kingdoms and Castles är ett spel där du ska bygga ett kunga rike och försvara dig mot drakar och pirater. <br> Det är ett kul spel och jag rekomenderar det, <br> de är de nyaste spelet på steam.</p>

<br>

<a href="http://store.steampowered.com/app/387990/Scrap_Mechanic/"><h3><li>Scrap Machnic</li></h3></a>

<img src="bilder/maxresdefault (2).jpg" width="15%">

<p>Det här är ett av mina favorit spel jag recomenderar det mycket. <br> Du kan bygga maskiner och sedan programera de.</p>

<br>

<a href="http://store.steampowered.com/app/227300/Euro_Truck_Simulator_2/"><h3><li>Euro Truck Simulator 2</li></h3></a> 

<img src="bilder/euro-truck-simulator-2-latest-download.jpg" width="15%">

<p>Euro Truck Simulator 2 är ett jättebra truck simulator som jag själv kör jätte mycket. <br> <a href="https://truckersmp.com/">Här finns online men först måsnte du ha ETS2</a></p>

<br>

<a href="http://store.steampowered.com/app/431240/Golf_With_Your_Friends/"><h3><li>Golf Whit Your Friends</li></h3></a> 

<img src="bilder/maxresdefault (4).jpg" width="15%">

<p>Golf Whit Your Friends är ett spel där du spelar golf med dina vänner och andra, <br> ett bra fritids spel.</p>
<br>

<a href="http://store.steampowered.com/app/305620/The_Long_Dark/"><h3><li>The Long Dark</li></h3></a>

<img src="bilder/thelongdark.jpg" width="15%">

<p>The Long Dark är ett spel där du ska överleva i skogen, <br> men det finns rovdjur.</p>

<br>

<a href="http://store.steampowered.com/app/300570/Infinifactory/"><h3><li>Infinifactory</li></h3></a>

<img src="bilder/header (2).jpg" width="15%">

<p>Infinifactory är ett spel där man ska gjöra olika saker som en fabrik, <br> jag tycker själv att det är jättekul.</p>

<br>

<a href="http://store.steampowered.com/app/447020/Farming_Simulator_17/"><h3><li>Farming Simulator 17</li></h3></a>

<img src="bilder/farming-sim-17-header.jpg" width="15%">

<p>Farming Simulator 17 är det nyaste Farming Simulator spelet, <br> och jag tycker att det är de bästa också.</p>

<br>

    <main> <!-- The main content on the page -->
        <div class="main-content container" ng-controller="KommentarCtrl">
            <div class="content-container">
                <h2>Kommentarsflöde</h2>
                <div ng-repeat="kommentar in kommentarer">
                    <p><b>{{ kommentar.skribent }}</b> {{ kommentar.text }}</p>
                </div>

            </div>
            <div class="content-container" style="margin-top: 100px; width: 50%">
                <h3>Kommentera</h3>
                <form ng-submit="addComment()">
                    <div class="form-group">
                        <input placeholder="Ditt namn" type="text" id="skribent" class="form-control" ng-model="kommentar.skribent">
                    </div>
                    <div class="form-group">
                        <input placeholder="Din kommentar" type="text" id="text" class="form-control" ng-model="kommentar.text">
                    </div>
                    <button type="submit" class="btn btn-success">Kommentera</button>
                </form>
            </div>
        </div>
    </main>
</body>
